<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="https://cdn.goeasy.io/goeasy.js"></script>
</head>
<body>
<div style="padding: 10px;" id="dom-win-role-add">

    <form class="layui-form" id="form-role-module" lay-filter="form-role-module">

        <div style="padding: 5px;overflow: auto;height:240px;border:1px solid #CCCCCC;margin-bottom:15px;border-radius:5px;">

            <div style="padding-bottom:5px;" th:each="u:${menuList }">

                <i class="layui-icon layui-icon-set-fill"></i><span th:text="${u.moduleName }"></span>

                <div class="layui-form-item" style="padding-left:20px;padding-top:3px;">
                    <div class="layui-input-inline" style="width: 130px;" th:each="sub:${u.subMenuList }">

                        <input type="checkbox" name="mId" th:title="${sub.moduleName }" th:value="${sub.moduleId }"
                               th:checked="${sub.checked }" lay-skin="primary"/>
                    </div>
                </div>
            </div>
        </div>
        <input type="hidden" th:value="${#httpServletRequest.getAttribute('nowRoleId')}" id="nowRoleId">
        <div class="layui-form-item" style="text-align:center;">

            <button class="layui-btn" id="bn-role-set-module" style="width:100px;">提交</button>
            <button type="reset" class="layui-btn layui-btn-primary" style="width:100px;">重置</button>
        </div>
    </form>

</div>
<script type="text/javascript" src="/js/roleJs.js"></script>
<script type="text/javascript" src="/js/MyMessage.js"></script>
<script type="text/javascript">
    var roleId = $('#nowRoleId').val();
    $('#bn-role-set-module').click(function () {
        var mids = [];
        $('#form-role-module :checkbox:checked').each(function () {
            mids.push(this.value);
        });
        console.log(mids);
        opr.ajaxWithConfirm({
            title: "确定修改吗?",
            url: '/role/module/' + roleId,
            method: 'post',
            data: JSON.stringify(mids),
            contentType: 'application/json;charset=UTF-8',
            layer: layer,
            responseOkHandler: function (result) {
                layer.close(Layermodules);
                return true;//返回true,继续默认后续行为
            }
        });
        return false;
    });


</script>
</body>
</html>